@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="/ProductDetail/Details/5e17167e-7c0c-46a3-b0be-d9229fd4a956">View Product Details</a>
</div>
